<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>321204729710-88uvtdtabs0h9292bpk4uflur71kkg3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321204729710-88uvtdtabs0h9292bpk4uflur71kkg3r</string>
	<key>API_KEY</key>
	<string>AIzaSyCgjoSQR-Q5j0_W-eklnxwZSl9V1mtXejw</string>
	<key>GCM_SENDER_ID</key>
	<string>321204729710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mashreq.dobc</string>
	<key>PROJECT_ID</key>
	<string>mashreq-dob-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>mashreq-dob-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321204729710:ios:1879dde28a6622d7</string>
	<key>DATABASE_URL</key>
	<string>https://mashreq-dob-uat.firebaseio.com</string>
</dict>
</plist>